@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

[data-theme="light"] {
	--color-bg: #FEFEFA;
	--color-fg: #111111;
	--color-a-hover: #00B9E8;
	--color-a-visited: #0077b6;
}

[data-theme="dark"] {
	--color-bg: #111111;
	--color-fg: #FEFEFA;
	--color-a-hover: #00B9E8;
	--color-a-visited: #0077b6;
}

body {
	background-color: var(--color-bg);
	color: var(--color-fg);
	width: 600px;
	margin: auto;
	font-family: "Comic Neue", sans-serif;
	font-style: normal;
	font-size: 20px;
	transition: all 0.2s ease-out;
}

a {
	text-underline-offset: 4px;
	color: var(--color-fg);
}

a:visited {
	color: var(--color-a-visited); 
}

a:hover {
	text-underline-offset: 8px;
	color: var(--color-a-hover);
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

ul {
	margin-bottom: 15px;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}

input:where([type="checkbox"][role="switch"]) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	font-size: inherit;
	width: 2em;
	height: 1em;
	box-sizing: content-box;
	border: 1px solid;
	border-radius: 1em;
	vertical-align: text-bottom;
	margin: auto;
	color: inherit;
}

input:where([type="checkbox"][role="switch"])::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	box-sizing: border-box;
	width: 0.7em;
	height: 0.7em;
	margin: 0 0.15em;
	border: 1px solid;
	border-radius: 50%;
	background: currentcolor;
	transition: all 0.5s ease-out;
}

input:where([type="checkbox"][role="switch"]):checked::before {
	left: 1em;
}

.navbar {
	display: flex;
	align-items: center;
}
